body {
    font-family: 'Hind', sans-serif;
  }
  
  .navbar-brand {
    margin-right:15px;
  }
  
  .logo-brand {
    background: #eee;
    padding: 14px 10px 5px 10px;
    border-radius: 0 0 7px 7px;
  }
  
  a.navbar-item:hover {
    background: transparent;
  }
  
  .is-blue {
    color:#eee !important;
  }
  
  .is-hero-image {
     background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/62/30/08586f7b348262d.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      /* background-color: #999; */
  }
  .is-hero-image:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#000000,#eee);
      opacity: .7; 
  }
  
  .tag:not(body).is-light {
      background-color: #f5f5f5;
      color: #ababab;
  }
  
  
  .hero-footer {
      background: #ffffff;
      padding: 15px;
      z-index: 1;
  }
  
  .tags-search {
      margin:10px 0;
  }
  
  .tabs-subsection a{
      color:#A1A9B3 !important;
  
  }
  .tabs-subsection i {
      padding-right: 5px;
  }

//   Register page
.register {
    max-width: 500px;
    margin: 0 auto !important;
  }